<h1>New South Trails</h1>
<p>Description</p>

<% if @current_account.present? %>
  <% if @current_account.display_name.nil? %>
  Welcome back <%= @current_account.email %>
  <% else %>
  Welcome back <%= @current_account.display_name %>
  <% end %>
<%= link_to 'Places', places_path %>
<% end %>
