
<div class="jumbotron">
  <h1 class="display-4">

    <% if @current_account.present? %>
      <% if @current_account.display_name.present? && @current_account.display_name != "Anonymous"%>
        Welcome back <%= @current_account.display_name %> !
      <% else %>
      Welcome back <%= @current_account.email %> !
      <%end%>
    <% else %>
       Welcome
    <% end %>

  </h1>

  <p class="lead"> Ready for an Adventure!?
    <%if @current_account.present? %>
      Click the Links Below</p>
    <% else %>
    Login to your Account, then Click the Links Below
  <% end %>
  <hr class="my-4">
  <p class="lead">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">About Us</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <p>Hiking is about expecting the unexpected, but the unexpected can
          get a little much sometimes... That's why we are here to foster a hiking
          community in NSW that let's hikers share info about the more tempermental details
          about a track, such as trail quality, tricky navigational points, and accesibility tips.
          Moreso our site allows hikers to upload trails that are a little bit under the radar.
          Have fun and safe travels~</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </p>
</div>
<div class="container" id="home">
  <div class="row">
    <div class="col">
      <div class="card border-dark mb-3" id= "placeslink" style="max-width: 18rem;">
        <div class="card-header"><a class="placeslink" href="/places/index"> Places to Explore! </a></div>
        <div class="card-body text-dark">
          <p class="card-text">Plan your next hike, our inspire someone else to take your trail!</p>
        </div>
      </div>
      </div>
    <div class="col">
      <div class="card border-dark mb-3" id="peoplelink" style="max-width: 18rem;">
        <div class="card-header"><a class="accountslink" href="/accounts/index"> Other Adventurers </a></div>
        <div class="card-body text-dark">
          <p class="card-text">Make your hiking community a little bigger!</p>
        </div>
      </div>
    </div>
  </div>

</div>
